services:
  dev:
    profiles: [ "development" ]
    build:
      context: .
      cache_from:
        - node:20-alpine
      target: production
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
      DD_ENV: development
      DD_SERVICE: nestjs-messaging-api
      DD_AGENT_HOST: host.docker.internal
      JWT_SECRET: e8TBM4N%hZiW|6sho5=K/J-_*EH038@i
      JWT_EXPIRES_IN: 3600s
      JWT_PRIVATE_KEY_PATH: ./private.pem
      JWT_PUBLIC_KEY_PATH: ./public.pem

  staging:
    profiles: [ "staging" ]
    build:
      context: .
      cache_from:
        - node:20-alpine
      target: production
    ports:
      - "3001:3000"
    environment:
      NODE_ENV: staging
      DD_ENV: staging
      DD_SERVICE: nestjs-messaging-api
      DD_AGENT_HOST: host.docker.internal
      JWT_SECRET: e8TBM4N%hZiW|6sho5=K/J-_*EH038@i
      JWT_EXPIRES_IN: 3600s
      JWT_PRIVATE_KEY_PATH: ./private.pem
      JWT_PUBLIC_KEY_PATH: ./public.pem

  prod:
    profiles: [ "production" ]
    build:
      context: .
      cache_from:
        - node:20-alpine
      target: production
    ports:
      - "3002:3000"
    environment:
      NODE_ENV: production
      DD_ENV: production
      DD_SERVICE: nestjs-messaging-api
      DD_AGENT_HOST: host.docker.internal
      JWT_SECRET: e8TBM4N%hZiW|6sho5=K/J-_*EH038@i
      JWT_EXPIRES_IN: 3600s
      JWT_PRIVATE_KEY_PATH: ./private.pem
      JWT_PUBLIC_KEY_PATH: ./public.pem
